.settings-layout {
    -fx-background-color: rgb(215, 220, 220);
}

.settings-title {
    -fx-text-fill: rgb(20, 25, 25);
}

.content-pane,  {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.settings-labels {
    -fx-text-fill: rgb(20, 25, 25);
    -fx-font-size: 15px;
}

.ram-selector-text {
    -fx-text-fill: rgb(20, 25, 25);
    -fx-font-size: 12px;
}

.ram-selector {
    -fx-width: 200px;
    -fx-height: 25px;
    -fx-background-color: rgb(200, 200, 200);
    -fx-text-fill: rgb(20, 25, 25);
}

.ram-selector .arrow-button .arrow {
    -fx-background-color: rgb(20, 25, 25);
}

.ram-selector .list-view {
    -fx-background-color: rgb(200, 200, 200);
}

.ram-selector .list-cell:hover {
    -fx-text-fill: white;
    -fx-background-color: #98BB6D;
}

.ram-selector .track {
    -fx-background-color: rgb(220, 220, 220);
}

.ram-selector .thumb {
    -fx-background-color: #98BB6D;
}

.save-btn {
    -fx-background-radius: 10px;
    -fx-font-size: 16px;
    -fx-text-fill: #F5F5F5;
    -fx-background-color: #85AE51;
}

.save-icon {
    -fx-fill: white;
}

.save-btn:hover {
    -fx-background-color: #98BB6D;
}